* {
  box-sizing: border-box;
}
.container { 
  background: url("./images/img132.jpg");
  background-size: cover;
  background-position-x: 55%;
  background-repeat: no-repeat;
  min-height: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "r1-1 r1-2"
    "r2-1 r2-1"
    "r3-1 r3-2";
}

#one{
  grid-area: r1-1;
}
#tow{
  grid-area: r1-2;
  padding-left: 30vw;
  padding-top: 12vw;
  font-size: 2.5vw;
}
#three{
  grid-area: r2-1;
  justify-self: start;
  align-self: center;
  font-size: 8vw;
  font-weight: bold;
  padding-left: 12%;
}
#four{
  grid-area: r3-1;
  padding: 1vw;
  justify-self: start;
  align-self: end;
}
#five{
  grid-area: r3-2;
  position: relative; 
}

#one img {
  width: 100%;
}


#four p {
  text-align: center;
  width: fit-content;
}

#four p:nth-child(1) {
  font-size: 4vw;
}

#four p:nth-child(3) {
  font-size: 2.5vw;
}

#four p:nth-child(2),
#four p:nth-child(3) {
  margin-left: 5vw;
}

#four .center{
  border: 5px solid black;
  font-size: 3vw;
  font-weight: bold;
  padding: 0.5vw 7vw;
}

#five img {
  width: 95%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#five p {
  position: absolute;
  bottom: 30px;
  right: 5px;
  font-size: 1.5vw;
  font-weight: 600;
}

html, body {
  height: 100%;
  margin: 0px;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}
